@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  outline: none;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.announcement {
  position: relative;
  
  color: rgb(2, 2, 2);
  top: 0px;
  transition: .2s;
  z-index: 1;
}

.wrapper {
  max-width: 1160px;
  padding: 40px 20px;
  margin: 0 auto;
}

.search{
  max-width: 900px;
  margin:auto;
  padding: 10px;
}

li,a,button{
  font-family: "Montserrat", san-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

#header{
  
  background: #E6C9B2;
  display: flex;
  margin-top: auto;
  padding: 10px 2%;
}


.nav{
  
  margin: auto;
  justify-content:space-between;
  align-items: center;
  padding: 10px 2%;
}

.nav_link li{
  display:inline-block;
  padding: 0px 10px
}

.nav_link li a{
  transition: all 0.3s ease 0s;

}

.nav_link li a:hover{
  color: white;

}

#login{
  padding: 30px 1%;
}

#login button{
  border: none;
  background: none;
  
}

#login button:hover{
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}

html,
body {
  height: 100%;
  min-height: 100%;


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
}

body {
  margin: 0;
  background: url('background.png') 
  no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

table, th, td {
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.summary{
  border:none;
}

.container{
  text-align: center;
  

}

table{
  text-align: center;
}

th,td{
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

th{
  background-color: white;
}

td{
  background-color: rgb(207, 207, 207);
}
.summary{
  text-align:left;
}

#reference button{
  border: none;
  background-color:rgba(255, 99, 71, 0);
}

#reference button:hover{
  border: none;
  color:blue;
}
.stat{
  padding:5px;
}